{% extends "student_dashboard.html" %}
{% block title %}
<title>Faculty Dashboard</title>
{% endblock title %}

{% block head %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/faculty_dashboard.css' %}">
{% endblock head %}


{% block body %}
<div class="dashboard-header">
  {% if name|slice:":5" == "Prof." %}
  <h1>Welcome, Prof.{{ name|slice:"5:" }}</h1>
{% else %}
  <h1>Welcome,  Prof. {{ name }}</h1>
{% endif %}

    <p>Your personalized faculty dashboard</p>
    <a href="{% url 'logout' %}" class="logout-btn">Logout</a>
</div>
  
  <div class="dashboard-grid">
    <div class="card">
      <h3>📅 View Schedule</h3>
      <p>See your upcoming classes and schedule.</p>
      <a href="/schedule/">Open</a>
    </div>
    
    <div class="card">
      <h3>🧾 Check Availability</h3>
      <p>Find out which rooms are free for extra sessions.</p>
      <a href="/freeclassrooms">Open</a>
    </div>
  
    <div class="card">
      🗺️<h3>Branch Schedule </h3>
      <p>View Schedule of any Branch you want</p>
      <a href="/branchschedule">Open</a>
    </div>
  
    <div class="card">
      <h3>📢 Announcements</h3>
      <p>Send updates to students directly.</p>
      <a href="/announcements">Open</a>
    </div>
  </div>
  
  <footer>© 2025 Faculty Dashboard | VIT College</footer>
{% endblock body %}